@font-face {
    font-family: AfacadFlux;
    src: url(../fonts/AfacadFlux-VariableFont_slnt,wght.ttf);
}

@font-face{
    font-family: MaitreeLight;
    src: url(../fonts/Maitree-Light.ttf);
}

