html{
    scroll-behavior: smooth;
}

body{
    color: white;
    margin: auto;
    cursor: default;
    background-color: rgb(13, 16, 19);
    width: 100%;
}

p{
    line-height: 1;
    font-family: afacad flux light;
}


@keyframes entrada {
  from {
    transform: translateY(-6rem);
  }
  to {
    transform: none;
  }
}

@keyframes entrada_2{
  from {
    transform: scale(.9);
  }
  to {
    transform: scale(1);
  }
}

.card{
        border: solid 2px rgb(37, 196, 224);
        font-family: afacad flux light;
}

/* SCROLLBAR */

::-webkit-scrollbar{
    width: 5px;
    height: auto;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(121, 192, 197);
}


::-webkit-scrollbar-corner{
    background-color: rgb(255, 255, 255);
}

/* Chrome, Safari, Edge (WebKit/Blink) */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input{
    background: none;
    color: white;
    height: 2rem;
    width:auto;
    font-family: afacad flux;
    font-size: 2.5rem;
    text-align: center;
    border: solid 3px rgb(255, 255, 255,.0);
    border-radius: 2rem;
    margin: .5rem;
}

input:focus{
    outline: none;
}

input.destacado{
    color:  rgb(96, 231, 255);
}

input::placeholder{
    color:  rgb(96, 231, 255, .3);
}

select{
    background: none;
    color: white;
    height: 3rem;
    font-family: afacad flux;
    font-size: 1.5rem;
    text-align: center;
    border: solid 3px rgb(255, 255, 255,0);
    border-radius: 2rem;
    margin: .5rem;
}

option{
    background-color: rgb(13,16,19);
    border: none;
}


/* -------------------------    INDICE   -------------------------- */

header{
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 10;
    color: white;
    align-items: center;
    height: auto;
    padding: .5rem 0 0 0;
}


@media (max-width:1262px){
    .text-logo{
        display: none;
    }
}

.destacado{
    color: rgb(37, 196, 224);

}

header a{
    color: white;
}

.select{
    background-color: rgb(20, 157, 182);
    border-radius: .8rem;
}


.dropdownmenu img{
    padding: .5rem .9rem ;
}


.logo{
    position: fixed;
}


.logo a{
    display: flex;
    text-decoration: none;
    margin-left: 1rem;
}

.logo img{
    margin: auto;
    width: 40px;
    height: 40px;
}

.logo p{
        font-family: sulphur point;
        font-size: 2.4rem;
}

.dropdownmenu{
    margin: auto;
    display: flex;
}

.dropdownmenu img{
    width: 25px;
    height: 25px;
}

.dropdownmenu ul{
	list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.dropdownmenu li img:hover{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: .8rem;
    transition: .24s;

}

.dropdownmenu li .select:hover{
    background-color: rgb(20, 157, 182);
}

.dropdownmenu li {
	position: relative;
}


#index{
    margin: auto;
    justify-items: center;
    align-content: center;
    position: relative;
    height: auto;
    padding-top: 22rem;
    padding-bottom: 22rem;
    animation: entrada 0.2s ease-out forwards;
}


#index .container{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 1rem;
}

#index .columna{
    padding: 1rem;
}


.box-grid a{
    display: block;
    font-family: afacad flux light;
    font-size: 1.4rem;
    width: auto;
    height: 130px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.box-grid img{
    width: 50px;
    height: 50px;
}

.box-grid img:hover{
    transform: translateY(-.4rem);
    transition: .24s;
}

.box-grid p{
    margin: 0;
}

#index .titulos{
    font-family: afacad flux;
    font-size: 2.2rem;
    margin-top: 2.2rem;
    color: rgb(37, 196, 224);
}

.box-index{
    width: 500px;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>  FIN INDICE  <<<<<<<<<<<<<<<<<<<<<<<<<<< */





/* -------------------------   CUERPO   -------------------------- */
#cuerpo{
    width: 100%;
    display:flex;
    position: relative;
    height: 100vh;
    animation: entrada 0.2s ease-out forwards;
}


#cuerpo .container{
    margin: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.box-arrow{
    width: 100%;
    display: flex;
    margin: .5rem;
}


/* :::::::::::::::  CALCULADORAS  :::::::::::::::: */


.box-calculadoras{
    margin: auto;
    width: 70%;
    height: 70%;
    align-content: center;
}


.box-calculadoras .container{
    width: 700px;
}



.box-calculadoras .box-ico{
    position: relative;
    margin: auto;
    padding: 2rem;
    cursor: pointer;
}


.box-ico p{
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
}

.box-ico img{
    border: 1rem;
}


.box-calculadoras .ico{
    margin: auto;
    margin-bottom: .5rem;
    width: 60px;
    height: 60px;

}

.box-calculadoras p {
    margin: auto;
    font-family: Afacad Flux light;
    font-size: 1.4rem;
    
}

.box-calculadoras .columna{
    padding: 3rem;
}

.box-ico img:hover{
    transform: translateY(-.4rem);
    transition: .24s;
}


/* :::::::::::::::  ESCALA  :::::::::::::::: */

.box-escala{
    margin: auto;
    width: 800px;
    height: auto;
    align-content: center;
}

@media(max-width:800px){
    .box-escala{
        width: 100%;
    }
}


.box-arrow p{
    margin: auto;
    font-family: Afacad Flux thin;
    font-size: 2rem;
    padding-left: .5rem;
}

.box-arrow input{
    font-size: 2.5rem;
}


.box-arrow.scale.superior{
    margin-bottom: 8rem;
}

.box-arrow.scale .left{
    justify-content: left;
    margin: auto;
    width: 100%;
}

.box-arrow.scale .right{
    align-items: center;
    justify-content: right;
    width: 100%;
    margin: auto;
    display: flex;
}

@media(max-width:750px){
    .box-arrow p, select{
        font-size: 1.6rem;
    }
    .box-arrow input{
        font-size: 2rem;
    }
    
}

@media(max-width:590px){
    .box-arrow p, select{
        font-size: 1.4rem;
    }
        .box-arrow input{
        font-size: 1.8rem;
    }
    
}

@media(max-width:460px){
    .box-arrow p, select{
        font-size: 1.2rem;
    }

    .box-arrow input{
        font-size: 1.6rem;
    }
    
}

@media(max-width:420px){
    .box-arrow p, select{
        font-size: 1rem;
    }

    .box-arrow input{
        font-size: 1.4rem;
    }
    
}

@media(max-width:370px){
    .box-arrow p, select{
        font-size: .8rem;
    }

    .box-arrow input{
        font-size: 1.2rem;
    }
}

@media(max-width:330px){
    .box-arrow p, select{
        font-size: .6rem;
    }

    .box-arrow input{
        font-size: .8rem;
    }
}

.scale .right input{
    text-align: right;
    padding-right: .5rem;
}

.scale .right .text-left{
    text-align: left;
    width: 10rem;
    padding-left: .5rem;

}

.scale .right .scalefactor1{
    width: 5rem;
}

@media(max-width:1000px){
    .scale .right .text-left{
        width: 5rem;
    }

    .scale .right .scalefactor1{
    width: 2rem;
}
}

/* :::::::::::::::  PAPEL  :::::::::::::::: */


.box-paper{
    margin: auto;
    width: 50rem;
    align-content: center;
}

.box-paper img{
    width: 100%;
}

/* :::::::::::::::  BLOQUES CAD  :::::::::::::::: */

.box-bcad{
    margin: auto;
    width: 70%;
    height: 70%;
    align-content: center;
}

.box-bcad .container{
    width: 100%;
}

.box-bcad .columna{
    padding: 3rem;
}

.box-bcad .cardbox{
    position: relative;
    margin: auto;
    padding: 1rem;
    cursor: pointer;

    
}

.box-bcad .card{
    width: 200px;
    height: 140px;
    border-radius: .8rem;
    align-content: end;
    text-align: right;
    font-size: 1.4rem;
}

.box-bcad .card p{
    margin: auto;
    padding-bottom: .5rem;
    padding-right: .5rem;
    border-radius: .0 .0 .65rem .65rem;
    bottom: 0;
    background-color: rgb(23, 32, 34);
}

.box-bcad .card img{
    background-attachment: fixed;
}

.box-bcad .cardbox #a{
    background: url(../img/cad/prsnas.jpg);
}

.box-bcad .cardbox #b{
    background: url(../img/cad/animales.jpg);
}

.box-bcad .cardbox #c{
    background: url(../img/cad/animales.jpg);
}

.box-bcad .cardbox #d{
    background: url(../img/cad/animales.jpg);
}

.box-bcad .cardbox #e{
    background: url(../img/cad/animales.jpg);
}

.box-bcad .cardbox #f{
    background: url(../img/cad/animales.jpg);
}


/* :::::::::::::::  PROGRAMAS  :::::::::::::::: */






/* >>>>>>>>>>>>>>>>>>>>>>>>>>>  FIN CUERPO  <<<<<<<<<<<<<<<<<<<<<<<<<<< */






/* -------------------------   INFORMACION   -------------------------- */
#info{
    justify-items: center;
    position: relative;
    height: 300px;
}

.separador{
    margin: auto;
    width: 95%;
    height: 1px;
    border-radius: .5px;
    background-color: rgb(36, 36, 36);
    position: absolute;
    top: 0;
    margin-top: 1rem;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>  FIN INFORMACION  <<<<<<<<<<<<<<<<<<<<<<<<<<< */